:ruby
  code = params[:code]
  message = params[:message]
  
  js = "parent.SSOController.callback({'result':false,'code':'#{code}','message':'#{message}'})"

%html
  %head
    :javascript
      #{js}
  %body
		
